html {
  font-family: Verdana;
}

.banner header h3 p {
  display: inline-flex;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: white;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  height: 32px;
  align-items: center;
}

header h3 {
  display: inline-flex;
  font-weight: normal;
}

header h3 .academy {
  color: gray;
}

header p {
  font-size: 12px;
  font-weight: normal;
  display: inline-flex;
  align-items: flex-start;
}

.section1 {
  height: 544px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
}

.container {
  flex: 0 0 auto;
  height: 100%;
  width: 760px;
  position: relative;
  overflow: auto;
}

.image1 {
  height: 480px;
  background-image: url("/Users/suzeq319/Desktop/CodeCademy/colmarAcademy/resources/capstone_colmar_assets/images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 32px 24px;
  position: relative;
  flex-basis: 60%;
}

.section1text {
  margin-right: 100px;
  margin-left: 30px;
  flex-basis: 25%;
}

.section1text h1 {
  font-weight: bolder;
  font-size: 2em;
  font-stretch: ultra-expanded;
}

.section1text p {
  font-size: 1.5em;
}

.section1text button {
  display: flex;
  font-size: 14px;
  font-stretch: ultra-expanded;
  color: white;
  background-color: black;
  padding: 15px 40%;
  text-align: center;
}

.section2 {
  height: 608px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  position: relative;
}

.column1 {
  flex: 0 0 auto;
  height: 480px;
  width: 760px;
  margin: 32px 24px;
  position: relative;
}

.column1image {
  height: 334px;
  background-image: url("/Users/suzeq319/Desktop/CodeCademy/colmarAcademy/resources/capstone_colmar_assets/images/information-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.column1text h2 {
  font-weight: bolder;
  font-size: 3em;
  font-stretch: ultra-expanded;
}

.column1text p {
  font-size: 10px;
}

.column2 {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.row1 {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row1 .row2 .row3 {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 3;
}

.row1 .image3 {
  height: 150px;
  width: 150px;
  background-image: url("/Users/suzeq319/Desktop/CodeCademy/colmarAcademy/resources/capstone_colmar_assets/images/information-orientation.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: auto;
  object-fit: contain;
  margin: 0 16px 20px 0;
}

.column2 h5 {
  color: blue;
}
.row2 .image3text {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}

.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row2 .image4 {
  height: 150px;
  width: 150px;
  background-image: url("/Users/suzeq319/Desktop/CodeCademy/colmarAcademy/resources/capstone_colmar_assets/images/information-campus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: auto;
  object-fit: contain;
  margin: 0 16px 20px 0;
}

.image4text {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}

.image3 .image4 .image5 p {
  font-size: 12px;
  flex-wrap: wrap;
}
.row3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: Lightgray;
}

.row3 .image5 {
  height: 150px;
  width: 150px;
  background-image: url("/Users/suzeq319/Desktop/CodeCademy/colmarAcademy/resources/capstone_colmar_assets/images/information-guest-lecture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-shrink: auto;
  object-fit: contain;
}

.image5text {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
}
